{% extends 'base.html.twig' %}

{% block body %}

    <ol class="">

        <li><a href="{{ path('todo_all') }}" title="Task list">Task list</a></li>
        <li><a href="" class="active">Details</a></li>
    </ol>



    <ul class="list-group">
        <li class="list-group-item"><strong>Task:</strong> {{ todo.task }}</li>
        <li class="list-group-item"><strong>Deadline:</strong> {{ todo.deadline  |date('Y-m-d H:i:s') }}</li>

    </ul>


{% endblock %}
